<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebSql-检测任务新增</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}" media="screen"/>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/code/codemirror.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/code/show-hint.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/sqlPage.css}" media="all">
    <style>
    </style>
</head>
<body>
<div id="menu-id">
    <form class="layui-form card">
        <div class="layui-form-item button-row">
            <div class="layui-inline">
                <label class="layui-form-label">名称:</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" class="layui-input" lay-affix="clear"
                           placeholder="检测任务名称"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">数据源:</label>
                <div class="layui-input-inline">
                    <select name="dataBaseName" id="dataBaseName" lay-filter="dataBaseName" lay-search=""
                            lay-affix="clear"></select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">CRON:</label>
                <div class="layui-input-inline">
                    <input type="text" id="cron" name="cron" class="layui-input" value="0/30 * * * * ?"
                           lay-affix="clear"
                           placeholder="定时表达式"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">状态:</label>
                <div class="layui-input-inline">
                    <select name="state" lay-verify="required" lay-search="">
                        <option value="开始监控">开始监控</option>
                        <option value="停止监控">停止监控</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item button-row">
            <div class="layui-inline">
                <label class="layui-form-label">列名:</label>
                <div class="layui-input-inline">
                    <input type="text" id="columnName" name="columnName" class="layui-input" lay-affix="clear"
                           placeholder="SQL结果中列名"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">告警表达式:</label>
                <div class="layui-input-inline">
                    <input type="text" name="expression" id="expression" class="layui-input"
                           placeholder="result-2>0"
                           lay-affix="clear"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">告警级别:</label>
                <div class="layui-input-inline">
                    <select name="alarmLevel" lay-verify="required" lay-search="">
                        <option value="普通">普通</option>
                        <option value="紧急">紧急</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">告警模板:</label>
                <div class="layui-input-inline">
                    <select name="messageTemplate" id="messageTemplate" lay-filter="messageTemplate" lay-search=""
                            lay-affix="clear"></select>
                </div>
            </div>

            <div class="layui-inline">
                <button class="layui-btn layui-btn-primary layui-btn-sm layui-border-green" lay-submit
                        lay-filter="save">
                    <i class="layui-icon layui-icon-add-circle"></i> 保存
                </button>

                <button class="layui-btn layui-btn-primary layui-btn-sm layui-border-blue"
                        onclick="openPage('在线生成Cron后 复制Cron 表达式','http://cron.qqe2.com/',3001);return false">
                    <i class="layui-icon layui-icon-time"></i> CRON
                </button>
            </div>
        </div>
    </form>
</div>

<div class="card sqlText" id="ID-dropdown-contextmenu">
    <textarea id='sqlText' style="width: 99%;height: 650px;align-content: center;"></textarea>
</div>

<script th:src="@{/static/layui.js}"></script>
<script th:replace="~{base::ctx}"></script>
<script th:src="@{/static/lay-config.js}"></script>
<script th:src="@{/static/code/codemirror.js}"></script>
<script th:src="@{/static/code/matchbrackets.js}"></script>
<script th:src="@{/static/code/sql.js}"></script>
<script th:src="@{/static/code/show-hint.js}"></script>
<script th:src="@{/static/code/sql-hint.js}"></script>
<script th:src="@{/static/code/sql-formatter.min.cjs}"></script>
<script th:src="@{/static/code/placeholder.js}"></script>
<script th:src="@{/static/base64.min.js}"></script>
<script>
    layui.use(['jquery', 'layer', 'form', 'laySelect'], function () {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.jquery;
        const select = layui.laySelect;

        /**
         * 编辑器初始化
         * @type {CodeMirror}
         */
        const editor = CodeMirror.fromTextArea(document.getElementById("sqlText"), {
            mode: {
                name: "text/x-plsql"
            },
            matchBrackets: true,
            styleActiveLine: true,
            indentWithTabs: true,
            smartIndent: true,
            lineNumbers: true,
            spellcheck: true,
            lineWrapping: true,
            resetSelectionOnContextMenu: true,
            extraKeys: {
                'Ctrl': 'autocomplete',
                Tab: function (cm) {
                    let spaces = Array(cm.getOption('indentUnit') + 1).join(' ');
                    cm.replaceSelection(spaces);
                }
            },
            hintOptions: {completeSingle: false}
        });
        editor.setSize(null,600);
        editor.getWrapperElement().style.fontSize = '18px';
        editor.on('keypress', () => {
            editor.showHint();
        });

        //进入页面后,让编辑器获得焦点
        editor.focus();

        document.addEventListener('scroll', function () {
            var navContainer = document.getElementById("menu-id");
            if (window.pageYOffset > 0) {
                navContainer.classList.add('nav-container', 'show');
            } else {
                navContainer.classList.remove('nav-container', 'show');
            }
        });

        let activeDataSource;//选中的数据源
        select.render({
            elem: "#dataBaseName",
            url: ctx + 'dataSourceManager/findDataSourceList',
            select: 10000,
            title: '请选择数据源',
            format: function (data) {
                return parseSelectData(data);
            },
            success: function (data, activeData) {
                activeDataSource = activeData.length === 0 ? null : activeData[0].code;
                editorHintSettings();
            },
            onselect: function (data) {
                activeDataSource = data;
                editorHintSettings();
            }
        });

        //告警模板列表
        let activeMessageTemplate;
        select.render({
            elem: "#messageTemplate",
            url: ctx + 'settingManager/findMessageTemplateList',
            select: 10000,
            title: '请选择告警模板',
            format: function (data) {
                return parseSelectData(data);
            },
            success: function (data, activeData) {
                activeMessageTemplate = activeData.length === 0 ? null : activeData[0].code;
            },
            onselect: function (data) {
                activeMessageTemplate = data;
            }
        });


        /**
         * 设置编辑器提示表名及字段功能
         */
        function editorHintSettings() {
            if (activeDataSource === "" || activeDataSource == null) {
                return false;
            }
            post(ctx + "sqlManager/findTableField?database=" + activeDataSource, null, (res) => {
                if (res.code !== 200 || res.data === null) {
                    console.error("获取表名及字段失败,无法提供编辑器提示功能!" + res.msg);
                    return false;
                }
                editor.setOption('hintOptions', {
                    completeSingle: false,
                    tables: res.data
                });
            });
        }

        /**
         * 执行SQL
         */
        form.on('submit(save)', function (data) {
            let sqlContent = editor.getValue().trim();
            if (sqlContent === "" || sqlContent == null) {
                layer.msg("SQL语句为空，无需保存哦~", {icon: 2});
                return false;
            }
            if (activeDataSource === "" || activeDataSource == null) {
                layer.msg("请选择数据源~", {icon: 2});
                $("#msgDiv").show();
                $("#msgSpan").text("ERROR:请选择数据来源~");
                return false;
            }
            data.field.sqlContent = Base64.encode(sqlContent);
            data.field.dataBaseName = activeDataSource;
            data.field.messageId = activeMessageTemplate === "" ? null : activeMessageTemplate;
            post(ctx + "detectionManager/add", data.field, (res) => {
                layer.msg(res.msg, {icon: res.code === 200 ? 1 : 2}, () => {
                    if (res.code === 200) location.reload();
                });
            });
            return false;
        });
    });
</script>
</body>
</html>