<html>
<head>
    <title>数据表格列表</title>
    <script src="/static/statics/libs/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="/static/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/statics/plugins/layui/css/layui.css" media="all">
    <script src="/static/statics/plugins/layer/layer.js"></script>
    <script src="/static/statics/plugins/layui/layui.js"></script>
    <script src="/static/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="/static/statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="/static/common/css/cyStyle.css">
    <link rel="stylesheet" href="/static/common/css/cyType.css">
</head>
<body>

<div class="menus" style="margin:5px;">
    <blockquote class="layui-elem-quote">
        WEBSQL由JAVA语言纯编,H2内嵌数据库。完全开源,体积小,傻瓜式,开箱即用。 ———简约而不简单
        <br>
        动态配置MYSQL,ORACLE等关系型数据库源,保存SQL文本实时获取,可控日志记录等功能网页版SQL执行工具。
        <br>
        开箱部署后,默认账号密码admin。
        进入数据源管理新增数据源后>进入SQL管理-SQL窗口>选择数据源>输入sql>执行
        &nbsp;
    </blockquote>
    <blockquote class="layui-elem-quote layui-quote-nm">
            作者：超哥呦  捋起袖子加油干！

        <a id="my" style="color:#2991D9;"   target="_blank" href="https://gitee.com/boy_0214/WEBSQL">获取新版本</a><br>
    </blockquote>

    <fieldset class="layui-elem-field">
        <legend>数据源管理</legend>
        <div class="layui-field-box">
            数据源动态配置MYSQL,ORACLE数据库连接进行入池。
            <br>
            系统管理-系统设置中数据源选项控制是否项目启动时进行加载数据源。
            项目启动时加载连接数据源确保网络通畅,手动加载需每次项目启动后手动进行加载。手动加载可避免项目启动时数据源未加载成功无通知等问题
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>SQL管理</legend>
        <div class="layui-field-box">
            SQL窗口我们每天都会用的功能,它强大无比;ctrl键智能提示,多行SQL查询 ","分割或换行,多行查询结果集导出,动态获取已保存的SQL文本。
            <br>使用三步: 选择数据源 > 输入脚本 > 执行
            <br>
            SQL列表由SQL窗口内F9保存SQL文本,并在SQL列表展示、删除。
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>作业管理</legend>
        <div class="layui-field-box">
            定时任务执行脚本,可跨库同步数据结果并展示
            <br>
            选择作业数据源,填写执行SQL；设定Cron时间表达式后定时执行
            <br>
            -可选同步数据源,根据执行SQL结果插入此库表中（采取作业SQL中第一张表) （作业SQL需为SELECT语句）
            <br>
            -可选同步表名,根据执行SQL结果插入此库此表名中 （填写同步表名必须选中要同步到的数据库）
            <br>
            如果作业SQL查询字段有空字符串，强制转换NULL类型插入,同步数据时，需保证多表之间字段、类型等一致
            <br>
            作业任务可编辑修改Cron时间，停用及删除功能
            <br>
            作业执行记录详细任务的执行状态，结果等查询
            <br>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>日志管理</legend>
        <div class="layui-field-box">
            执行脚本记录每次在SQL窗口F8执行后,会产生详细可查询
            <br>
            登录系统记录每次账号登录后会产生详细可查询
            <br>
            系统设置中日志记录可控执行操作是否记录日志。
            <br>
            系统设置中可全部清空SQL执行脚本记录及登录系统日志。
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>系统管理</legend>
        <div class="layui-field-box">
            系统设置内容请查阅以上信息。
            <br>
            数据库管理可登录内嵌H2操作台默认地址：jdbc:h2:~/dbfile 账号：sa 密码：123456
            <br>
            连接池管理可查看数据源是否加载配置信息等
            <br>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>常见错误</legend>
        <div class="layui-field-box">
            1.未获取到有效数据源 >查看项目启动时主动初始化数据源,如果没有开启请手动点击加载。如果开启说明项目启动加载数据源时连接超时报错。可手动加载是否能连接,如果连接不上查看数据库是否正常。
            <br>
            2.修改个人信息后必须重新登录,缓存中数据并没有更新~
            <br>
            3.锁屏解锁密码是websql,可自行修改。
            <br>
        </div>
    </fieldset>


</div>
<script>
    layui.use(['form','table','element'], function() {
        form = layui.form;
        table = layui.table;
    });
    </script>
</body>
</html>