<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>WEBSQL-管理系统</title>
    <link rel="shortcut icon" type="image/x-icon" href="statics/img/favicon.ico" media="screen"/>
    <link rel="stylesheet" href="static/statics/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="static/statics/plugins/layer/skin/default/layer.css">
    <link rel="stylesheet" href="static/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/statics/css/index.css">
    <link rel="stylesheet" href="static/common/css/cyStyle.css">
    <link rel="stylesheet" href="static/statics/plugins/ContextJS/css/context.standalone.green.css">
    <script src="/static/common/js/whole/common.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">WEBSQL</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layui-this"><a href="javascript:createMenu('/statics/json/layuiMenu.json');">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">快捷菜单</a>
                <dl class="layui-nav-child">
                    <dd><a data-url="/dbSource/sqlExecute/sqlPage"  href="javascript:;" class="cy-page" >SQL窗口</a></dd>
                    <dd><a data-url="/dbSource/sqlController/sqlTextPage"  href="javascript:;" class="cy-page">SQL列表</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:lockScreen();"><i class="fa fa-lock"></i>锁屏</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:openIframe('帮助文档','/getHelpPage');">帮助<!--<span class="layui-badge">9</span>--></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    [[${users.name}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" class="cy-page" data-url="/getUsersPage">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;window.location.href='/logout'">退出</a></li>
        </ul>
    </div>
    <div class="toggle-collapse"></div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <div class="layui-form component">
                <div class="search-menu-back">
                    <input type="text" placeholder="菜单名称/简约而不简单" value="" autocomplete="true" id="menuSearch" class="layui-input menu-search">
                    <span class="menu-search-clear" style="display: none"><i class="layui-icon">&#x1006;</i>  </span>
                </div>
            </div>
            <ul class="layui-nav layui-nav-tree">
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div style="padding: 1px;">
            <div id="navTab" class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="tabs">
                <div class="layui-tab-left"><i class="layui-icon">&#xe65a;</i></div>
                <ul class="layui-tab-title ">
                    <li class="layui-this main-tab" data-url="/main">我的主页</li>
                </ul>
                <div class="layui-tab-right"><i class="layui-icon">&#xe65b;</i></div>
            </div>
        </div>
        <div id="main">
            <iframe scrolling="yes" frameborder="0" class="cy-show" src="/main"></iframe>
        </div>
    </div>
    <div class="layui-footer">
        © ITBoy-WEBSQL 简约而不简单.
            <a id="my" style="color:#2991D9;"   target="_blank" href="https://gitee.com/boy_0214/WEBSQL">获取新版本</a><br>
    </div>
</div>
<script src="static/statics/libs/jquery-1.10.2.min.js"></script>
<script src="static/statics/plugins/ContextJS/js/context.js"></script>
<script src="static/statics/plugins/layui/layui.js"></script>
<script src="static/statics/plugins/layer/layer.js"></script>
<script src="static/common/js/whole/utils.js"></script>
<script src="static/common/js/whole/cyLayer.js"></script>
<script src="static/statics/js/navTab.js"></script>
<script src="static/statics/js/index.js"></script>
<script>
    $("#my").mouseout(function(){
        layer.tips('<img  src="/statics/img/home.jpg" style="width: 300px;height: 300px;">', '#my', {
            tips: [1, '#FFFFFF'],
            time: 4000
        });
    });

</script>
</body>
</html>
