
<html>
<head>
    <script src="/statics/libs/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="/statics/plugins/layui/css/layui.css" media="all">
    <script src="/statics/plugins/layer/layer.js"></script>
    <script src="/statics/plugins/layui/layui.js"></script>
    <link rel="stylesheet" href="/common/css/cyStyle.css">
    <link rel="stylesheet" href="/common/css/cyType.css">
    <script src="/static/common/js/whole/common.js"></script>
</head>
<body >


<div style="text-align: center; width: 100%;">
    <img src="/statics/img/indexHome.png" style="margin: 0 auto;cursor:default">
</div>
</body>
<script>

    $("#my").mouseout(function(){
        layer.tips('123', '#my', {
            tips: [3, '#FFFFFF'],
            time: 4000
        });
    });

</script>
</html>
