<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SQL执行日志</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}" media="screen"/>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}" media="all"/>
</head>
<body>
<form class="layui-form">
    <div class="layui-panel">
        <div style="margin: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label">执行数据源:</label>
                <div class="layui-input-inline">
                    <input type="text" name="logDbSource" id="logDbSource" placeholder="请输入数据源名称"
                           class="layui-input">
                </div>
                <div class="layui-input-normal">
                    <button class="layui-btn layui-btn-primary layui-border-green search-btn" lay-submit
                            lay-filter="table-search">
                        <i class="layui-icon layui-icon-search"> </i>查 询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-panel" style="margin-top: 15px;">
        <div class="layui-form nowrap">
            <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
</form>
</body>
<script th:src="@{/static/layui.js}"></script>
<script th:replace="~{base::ctx}"/>
<script th:src="@{/static/base64.min.js}"></script>
<script type="text/html" id="toolbarTable">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
        <a class="layui-btn layui-bg-purple layui-btn-xs" lay-event="viewResult">结果</a>
    </div>
</script>
<script>
    layui.use(function () {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.jquery;
        const table = layui.table;
        const laytpl = layui.laytpl;
        const util = layui.util;

        table.render({
            elem: '#dataTable',
            url: ctx + 'logManager/getLogList',
            toolbar: true,
            defaultToolbar: ['filter', 'exports', 'print'],
            page: true,
            height: '525',
            cols: [
                [
                    {field: 'id', title: 'id', sort: true, fixed: true},
                    {field: 'logName', title: '日志类型', sort: true, fixed: true},
                    {field: 'logDbSource', title: '执行数据源', sort: true, fixed: true},
                    {field: 'userid', title: '执行人', sort: true, fixed: true},
                    {field: 'logDate', title: '执行时间', sort: true, fixed: true},
                    {fixed: 'right', title: '操作', width: 134, minWidth: 125, toolbar: '#toolbarTable'}
                ]
            ],
            parseData: res => parseData(res)
        });

        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'view':
                    let str = Base64.decode(data.logContent) || "";
                    const content1 = laytpl('<div style="margin: 5px;"><pre class="layui-code">{{= d.content}}</pre></div>')
                        .render({content: str});
                    openContent("查看执行SQL内容", content1);
                    break;
                case 'viewResult':
                    let strResult = data.logResult || "";
                    let content2 = laytpl('<div style="margin: 5px;"><pre class="layui-code">{{= d.content}}</pre></div>').render({
                        content: strResult
                    });
                    openContent("查看执行SQL结果", content2);
                    break;
            }
        });

        form.on('submit(table-search)', function (data) {
            const field = data.field;
            table.reloadData('dataTable', {
                scrollPos: true,
                where: field
            });
            return false;
        });
    });
</script>
</html>