<html>
<head>
    <title>WEBSQL-SQL执行窗口</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}" media="screen"/>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/code/codemirror.css}" media="all"/>
    <link rel="stylesheet" th:href=@{/static/code/show-hint.css} media="all"/>
    <style>
        .sqlText {
            border: 1px solid;
            border-radius: 12px;
            box-shadow: 2px 2px 5px #bbb;
            font-size: 20px;
        }

        .sqlTab {
            border: 1px solid;
            border-radius: 12px;
            box-shadow: 2px 2px 5px #bbb;
            font-size: 20px;
            margin: 5px;
            position: relative;
        }

        .menus {
            border: 1px solid;
            border-radius: 12px;
            box-shadow: 2px 2px 5px #bbb;
            margin: 5px;
        }

        .layui-form-item {
            margin-bottom: 5px;
            margin-top: 5px;
        }
    </style>
</head>
<body>

<div class="menus" style="margin:5px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">数据源:</label>
            <div class="layui-input-inline">
                <select name="dbtype" id="dbtype" lay-filter="dbtype" lay-search="" lay-affix="clear"></select>
            </div>
            <div class="layui-input-inline">
                <select name="sqlTexts" id="sqlTexts" lay-filter="sqlTexts" lay-search="" lay-affix="clear"></select>
            </div>
            <div class="">
                <button class="layui-btn " id="execute" lay-submit lay-filter="execute">
                    <i class="fa fa-search">&nbsp;</i>执行F8
                </button>
                <button id="newSqlOpen" onclick="window.open(ctx+'sqlManager/sqlPage');return false"
                        class="layui-btn  layui-btn-normal">
                    <i class="fa fa-link">&nbsp;</i>大窗口F7
                </button>
                <button id="saveSqlText" class="layui-btn layui-btn-warm" lay-submit lay-filter="saveSqlText">
                    <i class="fa fa-save">&nbsp;</i>保存F9
                </button>
            </div>
        </div>
    </form>
</div>

<div class="sqlText">
    <textarea id='sqlText' style="width: 100%;height: 500px;display:block;"></textarea>
</div>
<div id="msgDiv" class="layui-row sqlTab" style="display: none;">
    <div style="font-size: 15px;color: #843534;display:block;">
        <span id="msgSpan"
              style="margin-left: 10px;display:block;width:95%;word-wrap:break-word;white-space:normal;"></span>
    </div>
</div>
<div class="layui-row sqlTab" style="display: none;" id="sqlTableDiv">
    <div class="layui-tab layui-tab-card" lay-filter="sqlTab">
        <ul class="layui-tab-title" id="lists">
        </ul>
        <div class="layui-tab-content" id="listsContent" style="margin-top:-30px;">
        </div>
    </div>
    <div class="layui-form nowrap">
        <table id="sqlTable" lay-filter="test"></table>
    </div>
</div>
<script th:src="@{/static/layui.js}"></script>
<script th:replace="~{base::ctx}"></script>
<script th:src="@{/static/lay-config.js}"></script>
<script th:src="@{/static/code/codemirror.js}"></script>
<script th:src="@{/static/code/matchbrackets.js}"></script>
<script th:src="@{/static/code/sql.js}"></script>
<script th:src="@{/static/code/show-hint.js}"></script>
<script th:src="@{/static/code/sql-hint.js}"></script>
<script>
    layui.use(['jquery', 'layer', 'form', 'element', 'laySelect', 'table','dropdown','util'], function () {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.jquery;
        const element = layui.element;
        const select = layui.laySelect;
        const table = layui.table;
        const dropdown = layui.dropdown;
        const util = layui.util;

        /**
         * 编辑器初始化
         * @type {CodeMirror}
         */
        const editor = CodeMirror.fromTextArea(document.getElementById("sqlText"), {
            lineNumbers: true,
            mode: {
                name: "text/x-plsql"
            },
            matchBrackets: true,
            styleActiveLine: true,
            indentWithTabs: true,
            smartIndent: true,
            lineNumbers: true,
            spellcheck: true,
            extraKeys: {
                'Ctrl': 'autocomplete',
                Tab: function (cm) {
                    var spaces = Array(cm.getOption('indentUnit') + 1).join(' ');
                    cm.replaceSelection(spaces);
                }
            },
            hintOptions: {
                tables: {app: [], version: []},
                completeSingle: false
            }
        });

        /**
         * 展示数据源
         */
        let activeDataSource;//选中的数据源
        select.render({
            elem: "#dbtype",
            url: ctx + 'dataSourceManager/findDataSourceList',
            select: 10000,
            title: '请选择数据源',
            format: function (data) {
                return parseSelectData(data);
            },
            success: function (data) {
            },
            onselect: function (data) {
                activeDataSource = data;
            }
        });

        /**
         * 展示sql保存记录
         */
        function sqlTextSelect() {
            select.render({
                elem: "#sqlTexts",
                url: ctx + 'sqlManager/querySqlTextSelect',
                select: 10000,
                title: '无保存的SQL文本',
                format: function (data) {
                    return parseSelectData(data);
                },
                success: function (data) {
                },
                onselect: function (data) {
                    let oldContent = editor.getValue();
                    if (oldContent != "" || oldContent != null) {
                        data = oldContent + '\n' + data;
                    }
                    editor.setValue(data);
                }
            });
        }

        sqlTextSelect();

        /**
         * 保存SQL文本
         */
        form.on('submit(saveSqlText)', function (data) {
            var sqlContent = editor.getValue().trim();
            if (sqlContent == "" || sqlContent == null) {
                layer.msg("SQL语句为空，无需保存哦~", {icon: 2});
                return false;
            }
            layer.prompt({title: '给内容起个名字吧', formType: 0}, function (data, index) {
                layer.close(index);
                post(ctx + "sqlManager/saveSqlText", {'sqlText': sqlContent, 'title': data}, (res) => {
                    layer.msg(res.msg, {icon: res.code == 200 ? 1 : 2}, (res) => {
                        sqlTextSelect();
                    });
                })
            });
            return false;
        });


        /**
         * 执行SQL
         */
        form.on('submit(execute)', function (data) {
            var sqlContent = editor.getValue().trim();
            $("#msgDiv").show();
            $("#msgSpan").text("");

            if (activeDataSource == "" || activeDataSource == null) {
                layer.msg("请先选择数据源~", {icon: 2});
                $("#msgDiv").show();
                $("#msgSpan").text("ERROR:请先选择数据源~");
                return false;
            }
            if (sqlContent == "" || sqlContent == null) {
                layer.msg("请输入要执行的SQL~", {icon: 2});
                $("#msgDiv").show();
                $("#msgSpan").text("ERROR:请输入要执行的SQL~");
                return false;
            }
            let intervalTime = 0;
            let interval = setInterval(function () {
                intervalTime++;
                $("#msgSpan").text("执行耗时:" + intervalTime + "毫秒");
            }, 200);
            post(ctx + "sqlManager/executeSql", {'dataBaseName': activeDataSource, 'sqlText': sqlContent}, (res) => {
                window.clearInterval(interval);
                if (!res) {
                    $("#msgDiv").show();
                    $("#msgSpan").text("ERROR:未知异常!");
                    $("#sqlTableDiv").hide();
                    return false;
                }
                if (res.code != "1") {
                    layer.msg(res.msg, {icon: 2});
                    $("#msgDiv").show();
                    $("#msgSpan").text("ERROR:" + data.msg);
                    $("#sqlTableDiv").hide();
                    return false;
                }
                if (res.sqlExecuteType !== "SELECT") {
                    $("#msgSpan").text("执行条数:" + data.data);
                    return false;
                }
                tableInit(res);
                window.scrollTo(0, document.documentElement.scrollHeight);
            });
            return false;
        });


        /**
         * 渲染数据表格
         * @param table
         * @param data
         * @returns {boolean}
         */
        function tableInit(res) {
            $(".resultLi").remove();
            $("#sqlTableDiv").hide();
            let data = res.dataList;
            for (var i = 0; i < data.length; i++) {
                if (data[i].code != 1) {
                    $("#msgSpan").append("结果集" + (i + 1) + "ERROR:" + data[i].msg + " \n ");
                    continue;
                }
                if (data[i].data.length == 0) {
                    $("#msgSpan").append("结果集" + (i + 1) + "：SQL执行成功,返回结果为空！ \n ");
                    continue;
                }
                $("#sqlTableDiv").show();
                //列头
                let headArr = Object.keys(data[i].data[0]);
                let head = [];
                for (var key in headArr) {
                    head.push({field: headArr[key], title: headArr[key], sort: true});
                }
                //表格
                let elId = "sqlTable" + i;
                $("#lists").append(" <li class='resultLi'>结果集" + (i + 1) + "</li>");
                $("#listsContent").append("<div class='layui-tab-item resultLi' style='padding-top:0px;'><table class='layui-table' id='" + elId + "'></table></div>");
                let toolbarHtml = "<div><span class=\"layui-badge\">" + head.length + "列</span> <span class=\"layui-badge layui-bg-green\">" + data[i].data.length + "条</span></div>";
                table.render({
                    elem: '#' + elId
                    , cols: [head]
                    , data: data[i].data
                    , title: '结果集' + (i + 1)
                    , loading: true
                    , height: 525
                    , cellMinWidth: 150
                    , limit: 10
                    , limits: [10, 500, 800, 1000, 3000, 5000, 10000]
                    , even: true
                    , toolbar: toolbarHtml
                    , defaultToolbar: ['filter', 'exports', 'print']
                    , page: {prev: '上一页', next: '下一页', groups: 6}
                    , defaultContextmenu: false
                });
                rowContextmenu(elId,res);
            }
            $("#lists li:first").attr("class", "layui-this resultLi");
            $("#listsContent div:eq(0)").attr("class", "layui-tab-item layui-show resultLi");
            return false;
        }

        /**
         * 表格增加点击事件
         */
        function rowContextmenu(id,res) {
            table.on('rowContextmenu('+id+')', function (obj) {
                let data = obj.data;
                let index = obj.index;
                dropdown.render({
                    trigger: 'contextmenu',
                    show: true,
                    data: [
                        {title: '复制JSON数据', id: 'json'}
                        //{title: 'INSERT语句', id: 'insert'}
                    ],
                    click: function (menuData, othis) {
                        if(menuData.id==="json"){
                            layer.alert(util.escape(JSON.stringify({data})));
                            return false;
                        }
                        //TODO 待处理拼接，暂时无法应对多条sql执行
                        if(menuData.id==="insert"){
                            layer.alert("insert into "+res.tableName+" values.....");
                            return false;
                        }
                    }
                });

                // obj.del() // 删除当前行
                // obj.update(fields, related);  // 修改行数据
                obj.setRowChecked({selectedStyle: true}); // 标注行选中状态样式
            });
        }

    });

    //快捷键
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 119) {
            $("#execute").trigger('click');
        }
        if (e && e.keyCode == 118) {
            $("#newSqlOpen").trigger('click');
        }
        if (e && e.keyCode == 120) {
            $("#saveSqlText").trigger('click');
        }
    };
</script>
</body>
</html>