<html>
<head>
    <title>定时任务列表</title>
    <script src="/static/statics/libs/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="/static/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/statics/plugins/layui/css/layui.css" media="all">
    <script src="/static/statics/plugins/layer/layer.js"></script>
    <script src="/static/statics/plugins/layui/layui.js"></script>
    <script src="/static/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="/static/statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <script src="/static/common/js/pageGrid1.js"></script>
    <script src="/static/common/js/tplTool.js"></script>
    <script src="/static/common/js/editGrid.js"></script>
    <script src="/static/common/js/whole/cyLayer.js"></script>
    <script src="/static/common/js/whole/common.js"></script>
    <script src="/static/common/js/whole/utils.js"></script>
    <script src="/static/common/js/whole/monitor.js"></script>
    <link rel="stylesheet" href="/static/common/css/cyStyle.css">
    <link rel="stylesheet" href="/static/common/css/cyType.css">
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">作业数据源:</label>
        <div class="layui-input-inline">
            <input type="text" name="timingName" id="timingName" placeholder="请输入作业数据源" class="layui-input">
        </div>
        <label class="layui-form-label">同步数据源:</label>
        <div class="layui-input-inline">
            <input type="text" name="syncName" id="syncName" placeholder="请输入同步数据源" class="layui-input">
        </div>
        <label class="layui-form-label">作业状态:</label>
        <div class="layui-input-inline">
                <select name="col1" lay-filter="col1">
                    <option value=""></option>
                    <option value="休眠">休眠</option>
                    <option value="作业中">作业中</option>
                    <option value="停用">停用</option>
                </select>
        </div>
        <div class="layui-input-normal">
            <button class="layui-btn search-btn" table-id="pageGrid" lay-submit="" lay-filter="search">
                <i class="fa fa-search"> </i>查询
            </button>
            <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh">&nbsp;</i>重置</button>
        </div>
    </div>
</form>
<div class="layui-form nowrap">
    <table class="layui-table" id="pageGrid" cyType="pageGrid"  lay-filter="pageGrid" table-id="pageGrid"
           cyProps="url:'/timing/timingList',checkbox:'false',pageColor:'#2991d9'">
        <thead>
        <tr>
            <th width="5%" param="{name:'id',isPrimary:'true',hide:'false'}">作业号</th>
            <th width="10%" param="{name:'col2'}">作业名称</th>
            <th width="10%" param="{name:'timingName'}">作业数据源</th>
            <th width="10%" param="{name:'syncName'}">同步数据源</th>
            <th width="10%" param="{name:'col1'}">作业状态</th>
            <th width="5%" param="{name:'executeTime'}">CRON表达式</th>
            <th width="5%" param="{name:'sqlCreateUser'}">创建人</th>
            <th width="5%" param="{name:'sqlCreateDate'}">创建时间</th>
            <th width="10%" param="{operate:'true',buttons:'Render.view,Render.edit,Render.stop,Render.delete'}">操作</th>
        </tr>
        </thead>
    </table>
</div>

<script>
    layui.use(['form','table'], function(){
        var form = layui.form;
    });
    var Render = {
        stop:function(rowdata){
            var titles = "停用";
            var flog = 1;
            if(rowdata.col1=="停用"){
                titles = "启用";
                flog = 2;
            };
            var btn=' <button  onclick="updateStateOne(\''+""+titles+"定时任务"+'\', \''+"/timing/executeOnce/"+flog+"/"+rowdata.id+'\',\''+rowdata.id+'\')" class="layui-btn layui-btn-sm  layui-btn-warm ">'+titles+'</button>';
            return btn;
        },
        edit:function(rowdata){
            var btn=' <button  onclick="promptUpdate(\''+"修改CRON"+'\', \''+"/timing/executeOnce/3/"+rowdata.id+'\',\''+rowdata.executeTime+'\')" class="layui-btn layui-btn-sm  layui-btn-normal ">编辑</button>';
            return btn;
        },
        delete:function(rowdata){
            var btn=' <button  onclick="deleteOne(\''+"删除定时任务"+'\', \''+"/timing/executeOnce/4/"+rowdata.id+'\',\''+rowdata.id+'\')" class="layui-btn layui-btn-sm layui-btn-danger ">删除</button>';
            return btn;
        },
        start:function(rowdata){
            var btn=' <button  onclick="deleteOne(\''+"手动执行"+'\', \''+"/timing/executeOnce/5/"+rowdata.id+'\',\''+rowdata.id+'\')" class="layui-btn layui-btn-sm layui-btn-primary ">执行</button>';
            return btn;
        },
        view:function(rowdata){
            var str = rowdata.sqlText;
            if(str!=null || str==""){
                str=str.replace(/\'/g,"’");
                str=str.replace(/\"/g,"”");
                str=str.replace(/</g,"《").replace(/>/g,"》");
                str=str.replace(/\r/g,"&nbsp;");
                str=str.replace(/\n/g,"<br />");
                str=str.trim();
            }
            var btn=' <button   onclick="openViewText(\''+"查看作业SQL"+'\',\''+str+'\')" class="layui-btn layui-btn-sm layui-btn-danger  ">作业SQL</button>';
            return btn;
        }
    };
    </script>
</body>
</html>