<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>任务管理</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}" media="screen"/>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}" media="all"/>
</head>
<body>
<form class="layui-form">
    <div class="layui-panel">
        <div style="margin: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label">作业名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="col2" id="col2" placeholder="请输入作业名称" class="layui-input">
                </div>
                <label class="layui-form-label">作业数据源:</label>
                <div class="layui-input-inline">
                    <input type="text" name="timingName" id="timingName" placeholder="请输入作业数据源" class="layui-input">
                </div>
                <label class="layui-form-label">同步数据源:</label>
                <div class="layui-input-inline">
                    <input type="text" name="syncName" id="syncName" placeholder="请输入同步数据源" class="layui-input">
                </div>
                <label class="layui-form-label">作业状态:</label>
                <div class="layui-input-inline">
                    <select name="col1" lay-filter="col1">
                        <option value=""></option>
                        <option value="休眠">休眠</option>
                        <option value="作业中">作业中</option>
                        <option value="停用">停用</option>
                    </select>
                </div>
                <div class="layui-input-normal">
                    <button class="layui-btn layui-btn-primary layui-border-green search-btn" lay-submit
                            lay-filter="table-search">
                        <i class="layui-icon layui-icon-search"> </i>查 询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-panel" style="margin-top: 15px;">
        <div class="layui-form nowrap">
            <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
</form>
</body>
<script th:src="@{/static/layui.js}"></script>
<script th:replace="~{base::ctx}"/>
<script type="text/html" id="toolbarTable">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="view">作业SQL</a>
        <a class="layui-btn layui-bg-blue layui-btn-xs" lay-event="updateCron">修改CRON</a>
        <a class="layui-btn layui-bg-purple layui-btn-xs" lay-event="updateState2">启用任务</a>
        <a class="layui-btn layui-bg-orange layui-btn-xs" lay-event="updateState1">停止任务</a>
        <a class="layui-btn layui-bg-red layui-btn-xs" lay-event="delete">删除任务</a>
    </div>
</script>
<script>
    layui.use(function () {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.jquery;
        const table = layui.table;
        const laytpl = layui.laytpl;

        table.render({
            elem: '#dataTable',
            url: ctx + 'timingManager/timingList',
            toolbar: true,
            defaultToolbar: ['filter', 'exports', 'print'],
            page: true,
            height: '525',
            cols: [
                [
                    {field: 'id', title: 'id', sort: true, fixed: true},
                    {field: 'col2', title: '作业名称', sort: true, fixed: true},
                    {field: 'timingName', title: '作业数据源', sort: true, fixed: true},
                    {field: 'syncName', title: '同步数据源', sort: true, fixed: true},
                    {field: 'col1', title: '作业状态', sort: true, fixed: true},
                    {field: 'executeTime', title: 'CRON表达式', sort: true, fixed: true},
                    {field: 'sqlCreateUser', title: '创建人', sort: true, fixed: true},
                    {field: 'sqlCreateDate', title: '创建时间', sort: true, fixed: true},
                    {fixed: 'right', title: '操作', width: 370, toolbar: '#toolbarTable'}
                ]
            ],
            parseData: res => parseData(res)
        });

        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'view':
                    var str = data.sqlText || "";
                    str = str.replace(/\'/g, "’");
                    str = str.replace(/\"/g, "”");
                    str = str.replace(/</g, "《").replace(/>/g, "》");
                    str = str.replace(/\r/g, "&nbsp;");
                    str = str.replace(/\n/g, "<br />");
                    str = str.trim();
                    const content = laytpl('<div style="margin: 20px;">{{= d.content}}</div>').render({
                        content: str,
                    });
                    openContent("查看作业SQL内容", content);
                    break;
                case 'updateCron':
                  layer.prompt({
                        formType: 2,
                        value: data.executeTime,
                        anim: 'slideLeft',
                        title: '请输入Cron表达式',
                        area: ['300px', '200px']
                    }, function (value, index) {
                        layer.confirm("确认修改CRON？", function () {
                            post(ctx + "timingManager/executeOnce/3/" + data.id+"?cron="+value, null, (res) => {
                                layer.msg(res.msg, {icon: res.code == 200 ? 1 : 2}, () => {
                                    $(".search-btn").click();
                                    layer.closeAll();
                                });
                                return;
                            })
                        });
                    });
                    break;
                case 'updateState2':
                    layer.confirm("确定启用此任务吗？", function () {
                        post(ctx + "timingManager/executeOnce/2/" +data.id, null, (res) => {
                            layer.msg(res.msg, {icon: res.code == 200 ? 1 : 2}, () => {
                                $(".search-btn").click();
                            });
                            return;
                        })
                    })
                    break;
                case 'updateState1':
                    layer.confirm("确定停止此任务吗？", function () {
                        post(ctx + "timingManager/executeOnce/1/" +data.id, null, (res) => {
                            layer.msg(res.msg, {icon: res.code == 200 ? 1 : 2}, () => {
                                $(".search-btn").click();
                            });
                            return;
                        })
                    })
                    break;
                case 'delete':
                    layer.confirm("您确认要删除此任务吗？", function () {
                        post(ctx + "timingManager/executeOnce/4/"+data.id, null, (res) => {
                            layer.msg(res.msg, {icon: res.code == 200 ? 1 : 2}, () => {
                                $(".search-btn").click();
                            });
                            return;
                        })
                    })
                    break;
            }
        });

        form.on('submit(table-search)', function (data) {
            const field = data.field;
            table.reloadData('dataTable', {
                scrollPos: true,
                where: field
            });
            return false;
        });
    });
</script>
</html>