<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SQL执行日志</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}" media="screen"/>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}" media="all"/>
</head>
<body>
<form class="layui-form">
    <div class="layui-panel">
        <div style="margin: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label">作业名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="taskName" id="taskName" placeholder="请输入作业名称" lay-affix="clear"
                           class="layui-input">
                </div>
                <label class="layui-form-label">作业状态:</label>
                <div class="layui-input-inline">
                    <select name="taskState" lay-filter="taskState">
                        <option value=""></option>
                        <option value="执行成功">执行成功</option>
                        <option value="执行失败">执行失败</option>
                    </select>
                </div>
                <div class="layui-input-normal">
                    <button class="layui-btn layui-btn-primary layui-border-green search-btn" lay-submit
                            lay-filter="table-search">
                        <i class="layui-icon layui-icon-search"> </i>查 询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-panel" style="margin-top: 15px;">
        <div class="layui-form nowrap">
            <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
</form>
</body>
<script th:src="@{/static/layui.js}"></script>
<script th:src="@{/static/base64.min.js}"></script>
<script th:replace="~{base::ctx}"/>
<script type="text/html" id="toolbarTable">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
        <a class="layui-btn layui-bg-purple layui-btn-xs" lay-event="viewResult">日志</a>
    </div>
</script>
<script>
    layui.use(function () {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.jquery;
        const table = layui.table;
        const laytpl = layui.laytpl;
        const util = layui.util;

        table.render({
            elem: '#dataTable',
            url: ctx + 'timingManager/jobLogList',
            toolbar: true,
            defaultToolbar: ['filter', 'exports', 'print'],
            page: true,
            height: '525',
            cols: [
                [
                    {field: 'id', title: 'id', sort: true, fixed: true},
                    {field: 'taskId', title: '作业任务ID', sort: true, fixed: true},
                    {field: 'taskName', title: '作业名称', sort: true, fixed: true},
                    {field: 'taskState', title: '执行结果', sort: true, fixed: true},
                    {field: 'co1', title: '执行时长', sort: true, fixed: true, templet: '<div> {{= d.co1 }}ms </div>'},
                    {field: 'executeDate', title: '执行时间', sort: true, fixed: true},
                    {fixed: 'right', title: '操作', width: 134, minWidth: 125, toolbar: '#toolbarTable'}
                ]
            ],
            parseData: res => parseData(res)
        });

        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'view':
                    let params = Base64.decode(data.taskContent) || "";
                    let content1 = laytpl('<div style="margin: 5px;"><pre class="layui-code">{{= d.content}}</pre></div>').render({
                        content: util.unescape(params)
                    });
                    openContent("查看作业SQL内容", content1);
                    break;
                case 'viewResult':
                    let result = data.taskError || "";
                    let content2 = laytpl('<div style="margin: 5px;"><pre class="layui-code">{{= d.content}}</pre></div>').render({
                        content: util.unescape(result)
                    });
                    openContent("查看执行日志", content2);
                    break;
            }
        });

        form.on('submit(table-search)', function (data) {
            const field = data.field;
            table.reloadData('dataTable', {
                scrollPos: true,
                where: field
            });
            return false;
        });
    });
</script>
</html>