<html>
<head>
    <title>登录日志</title>
    <script src="/static/statics/libs/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="/static/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/statics/plugins/layui/css/layui.css" media="all">
    <script src="/static/statics/plugins/layer/layer.js"></script>
    <script src="/static/statics/plugins/layui/layui.js"></script>
    <script src="/static/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="/static/statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <script src="/static/common/js/pageGrid1.js"></script>
    <script src="/static/common/js/tplTool.js"></script>
    <script src="/static/common/js/editGrid.js"></script>
    <script src="/static/common/js/whole/cyLayer.js"></script>
    <script src="/static/common/js/whole/common.js"></script>
    <script src="/static/common/js/whole/utils.js"></script>
    <script src="/static/common/js/whole/monitor.js"></script>
    <link rel="stylesheet" href="/static/common/css/cyStyle.css">
    <link rel="stylesheet" href="/static/common/css/cyType.css">
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">连接名:</label>
        <div class="layui-input-inline">
            <input type="text" name="dbname" id="dbname" placeholder="请输入连接名" class="layui-input">
        </div>
        <label class="layui-form-label">登录账号:</label>
        <div class="layui-input-inline">
            <input type="text" name="dbaccount" id="dbaccount" placeholder="请输入登录账号" class="layui-input">
        </div>
        <label class="layui-form-label">连接地址:</label>
        <div class="layui-input-inline">
            <input type="text" name="dburl" id="dburl" placeholder="请输入连接地址" class="layui-input">
        </div>
        <div class="layui-input-normal">
            <button class="layui-btn search-btn" table-id="pageGrid" lay-submit="" lay-filter="search">
                <i class="fa fa-search"> </i>查询
            </button>
            <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh">&nbsp;</i>重置</button>
        </div>
    </div>
</form>
<div class="layui-form nowrap">
   <table class="layui-table" id="pageGrid" cyType="pageGrid"  lay-filter="pageGrid" table-id="pageGrid"
           cyProps="url:'/getUserLogList',checkbox:'false',pageColor:'#2991d9'">
        <thead>
        <tr>
            <th width="5%" param="{name:'id',isPrimary:'true',hide:'false'}">id</th>
            <th width="10%" param="{name:'logName'}">日志名称</th>
            <th width="10%" param="{name:'userName'}">登录账号</th>
            <th width="5%" param="{name:'loginFlag'}">登录结果</th>
            <th width="5%" param="{name:'logIp'}">登录IP</th>
            <th width="5%" param="{name:'logDate'}">操作时间</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    layui.use(['form','table'], function(){
        var form = layui.form;
    });
    </script>
</body>
</html>